@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body, html {
  height: 100%;
  font-family: poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul{
  list-style:none;
}

a{
  text-decoration:none;
}

/*---HEADER------*/
#header{
  background-image:
 linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),   url(back2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---NAV-----*/
#top-bar{
  background-color:rgba(0, 0, 0, 0.95);
}

/*
#header-img{
  padding:5px;
  float:left;
  width:100px;
  margin-left:3%;
}*/

#header-img img{
  width:100%;
}

#nav-bar ul{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  font-family: poppins, sans-serif;
  margin-right:10%;
}

.nav-link{
  color:white;
  padding:18px;
}

.nav-link a{
  font-size:1.2em;
  color:#ffffff;
  float: left;
  transition:0.2s;
}

.nav-link a:hover{
  color:rgb(255, 0, 0);
  transition:0.5s;
}

h2.header-text{
  text-align:center;
  padding:5% 10% 1% 10%;
  font-size:1.6em;
  font-family: poppins, sans-serif;
  color:#ffffff;
}

p.header-text{
  text-align:center;
  padding:1% 15% 5% 15%;
  font-size:1.4em;
  font-family: poppins, sans-serif;
  color:#ffffff;
}

.line{
  width:50%;
}

#form{
  display:flex;
  flex-direction:column;
  align-items:center;
}

#email{
  width:350px;
  height:20px;
  border-radius:20px;
  background-color:#c6d4df;
  text-align:center;
  margin-bottom:15px;
  font-family: poppins, sans-serif;
  font-size:1em;
}

input[type=email]{
  margin:20px;
  background-color:transparent;
  border:none;
  font-size:1.2em;
  opacity:0.6;
}
input#email{
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}
input#email:focus{
  outline:none;
  box-shadow: 0 0 5px white;
  border: 2px solid white;
}

#submit{
  width:120px;
  background-color:#ffffff;
  border: 1px solid black;
  border-radius:15px;
  font-size:0.9em;
  margin-bottom:50px;
  color:rgb(0, 0, 0);
  font-family: poppins, sans-serif;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

#submit:hover{
  box-shadow: 0 0 5px #ffffe6;
}


/*------PACK SECTION---------*/
#pack-section{
  background-color:rgba(0, 0, 0, 0.95);
}

.title h2{
  text-align:center;
  padding:5% 10% 1% 10%;
  font-size:1.6em;
  font-family: poppins, sans-serif;
  color:#ffffff;
}

.packs{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.pack-image{
  margin:20px;
}

.pack-image img{
  width:100%;
  height:auto;
}

.add{
  display:block;
  position:relative;
  width:30%;
  top:-18%;
  left:35%;
  border: 2px solid black;
  border-radius:15px;
  padding:6px;
  text-align:center;
  line-height:1;
  font-size:1em;
  font-family: poppins, sans-serif;
  background-color:#ffffff;
  color:rgb(0, 0, 0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.add:hover{
  background-color:#ff4141;
  color: white;
}

.add:active, .add:target{
  outline:none;
  box-shadow: 0 0 5px #ffffe6;
  background-color:#e2b44f;
}

.add:focus{
  outline:none;
}

.pack-image:nth-child(1){
  background-image:url(https://image.ibb.co/dnkPs0/metalslug1.jpg) no-repeat;
 
}

.pack-image:nth-child(2){
  background-image:url(https://image.ibb.co/jRStkL/metalslig2.jpg) no-repeat;
}

.pack-image:nth-child(3){
  background-image:url(https://image.ibb.co/inveQL/metalslug3.jpg) no-repeat;
}

/*----VIDEO SECTION-----------*/

#video-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
    background-image:
 linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),   url(back2.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#video-section h2{
  text-align:center;
  padding:5% 10% 1% 10%;
  font-size:1.6em;
  font-family: poppins, sans-serif;
  color:#ffffff;
}

#video{
  margin-top:35px;
  margin-bottom:35px;
}

/*---------FOOTER-----------*/
#footer{
  background-color:  rgba(0, 0, 0, 0.95);
  text-align:center;
}

#footer p{
  font-family: poppins, sans-serif;
  color:#ffffff;
  padding:30px;
}

#footer a{
  text-decoration:none;
  color:#ffffff;
  transition: 0.2s;
}

#footer a:hover{
  color:white;
  text-shadow:0 0 2px #c6d4df;
}

@media screen and (max-width: 650px) {
  #top-bar{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  #header-img{
    margin:2% 0 0 0;
  }
  #nav-bar ul{
    margin:0;
  }
  
  .packs{
    flex-direction:column;
    align-items:center;
  }
  .packs div{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:4%;
  }
  .pack-image img{
    margin:0 auto;
    width:80%;
    height:auto;
  }
  .add{
   display:block;
  position:relative;
   top:-5%;
   left:2%;
  }
  
  #video{
    width:90%;
  }
}
